{% extends "layout.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<form method=post action="/methylencode">
  <dl>
    {{ render_field(form.string) }}
  </dl>
  <p><button class="btn btn-primary" type=submit>Encode</button>
</form>
<p>MethylString encodes numeric methylation strings from bisulfite converted DNA sequences as ASCII.</p>
<h2>Input format</h2>
<p>Each numeric digit encodes the state of a nucleotide position.
Possible values for the methylation string (MT) are:</p>
<pre>
    0 - not a cytosine
    1 - converted, unmethylated cytosine on top strand
    2 - converted, unmethylated cytosine on bot strand
    3 - converted, unmethylated cytosine on top strand complement
    4 - converted, unmethylated cytosine on bot strand complement
    5 - methylated cytosine on top strand
    6 - methylated cytosine on bot strand
    7 - reserved
    8 - reserved
</pre>
<h2>Output format</h2>
<p>You may use <a href="{{url_for('methyldecode')}}">MethylString: Decode</a> to convert back to numeric values.</p>
<p>Each pair of digits is combined to create a two digit number. These numbers are encoded as ASCII characters with an offset of 34. 
The colon ( : ) character is reserved by mapping its decimal equivalent of 58 as 33.</p>
{% endblock %}
